{% extends 'base.html' %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags %} alert-dismissible  alert-{{ message.tags }}"{% endif %}>
        <button type="button" class="btn-close" data-bs-dismiss="alert"  aria-label="Close"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %}
</div>
{% endif %}


<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Automatiza tu Negocio<br />
              <span class="text-primary"></span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>
                        Ingresar
                    </button>
                </form>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block --> 
{% endblock content %}


