{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Content here -->
    <h2>Lista de Seriales</h2>
    {% for surtidor in surtidores  %}
        <div class="card" style="">
            <table class="table">
                <tr>
                    <th>SURTIDOR</th>
                    <th>INICIO</th>
                    <th>FINAL</th>
                    <th>LITROS</th>
                    <th>OBSERVACIONES</th>
                    <th>FECHA</th>
                    <th>USUARIO</th>
                    <th>ESTATUS</th>
                </tr>
                {% for serial in seriales  %}
                {% if serial.identificador_id == surtidor.id  %}
                <tr>                    
                    <td>{{  serial.identificador }} </td>
                    <td>{{  serial.serialinicio }} </td>
                    <td>{{  serial.serialfinal }} </td>
                    <td>{{  serial.totallitros }} </td>
                    <td>{{  serial.observaciones }} </td>
                    <td>{{  serial.creado }} </td>
                    <td>{{  serial.usuario }} </td>
                    <td>{{  serial.estatus }}</td>
                </tr>
                {% endif %}    
                {% endfor %}
                <tr>                    
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
    
                </tr>            
            </table> 
        </div>    
        
    {% endfor %}
    
</div>



{% endblock content %}

